/* change situation button size when resolution is under 375px */
/* @media screen and (max-width: 375px) {
  .link-situation {
    width: 20rem;
  }
} */
.link-situation {
  transition: all 0.3s ease-in-out;
  display: block;
}
