.box_details {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.text-justify {
	font-size: 20px;
}

.button_situation {
	padding: 30px 20px;
	width: 6rem;
	margin: 30px auto;
	color: white;
	font-weight: bolder;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.vectors-img {
	width: 100%;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	position: absolute;
	bottom: 0;
}

.vectors-img-left {
	width: 28vmin;
}

.vectors-img-right {
	width: 28vmin;
}

.box-detail {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	width: 750px;
	color: #061849;
	background: white;
	/* box-shadow: -1px 5px 5px -1px red; */
}

.box-info {
	border: 1px solid black;
	padding: 15px;
	border-radius: 8px;
	overflow: scroll;
	height: 200px;
	overflow-x: hidden;
	text-align: justify;
}

.box-title {
	border: 1px solid black;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
	font-size: 25px;
}

.box-img {
	border-radius: 15px;
	max-width: 800px;
	/* height: auto; */
	border: 1px solid red;
}

.detail-presentation {
	border: 1px solid red;
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 50px;
	margin-bottom: 100px;
}