.box_details {
	width: 100%;
	height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;
	gap: 50px;
	max-width: 80%;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.text-justify {
	font-size: 20px;
}

.button_situation {
	padding: 30px 20px;
	width: 6rem;
	margin: 30px auto;
	color: white;
	font-weight: bolder;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
}

.vectors-img {
  width: 100%;
}

.vectors-img-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28vmin;
}

.vectors-img-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28vmin;
}