.question_box {
	min-height: calc(100vh - 64px);
	width: 100%;
}

.question_buttons {
	cursor: pointer;
}

.imgShowMedia {
	border-radius: 15px;
}

.answer-box {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}
.button-answer {
	width: 560px;
	background-color: #fff;
	color: #061849;
	padding: 20px;
	border-radius: 15px;
	margin: 20px;
	height: auto;
}

.detail-presentationQ {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 50px;
	padding: 50px;
	margin-bottom: 100px;
	z-index: 1;
}

.box-mediaA {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* -------------- */
/* - RESPONSIVE - */
/* -------------- */

@media screen and (max-width: 980px) {
	.detail-presentationQ {
		flex-direction: column;
		flex-wrap: wrap;
	}
}
