/* | ---------------------- | */
/* | - CSS SITUATION - | */
/* | ---------------------- | */

.box_situation {
	height: calc(100vh - 64px);
	width: 100%;
}

.container_situation {
	width: 85%;
	border-radius: 5px;
}


.box-scroll{
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}


@media screen and (min-width: 840px) {
	.container_situation {
		width: 30%;
	}
}

/* | ---------------------- | */
/* | - CSS DASHBOARD MENU - | */
/* | ---------------------- | */

.dasboard-menu-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
